name: enforce-settings

on:
  workflow_dispatch:
  push:
    # branches:
    #   - main
    paths:
      - .github/workflows/enforce-settings.yml
  schedule:
    - cron: "18 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: buildpack-deps:20.04-scm #curlimages/curl
    steps:
      - uses: actions/checkout@v2
      - name: set repo settings
        run: >
          curl
          --fail-with-body
          -X PATCH
          -H "Accept: application/vnd.github.v3+json"
          -H "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          https://api.github.com/repos/$GITHUB_REPOSITORY
          -d @.github/repo-settings.json
      - name: set main branch settings
        run: >
          curl
          --fail-with-body
          -X PUT
          -H "Accept: application/vnd.github.v3+json"
          -H "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          https://api.github.com/repos/$GITHUB_REPOSITORY/branches/main/protection
          -d @.github/branch-protection.json
