name: enforce-settings

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/enforce-settings.yml
      - .github/settings/**
  schedule:
    - cron: "18 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set repo settings
        run: >
          wget
          -O-
          --method PATCH
          --header "Accept: application/vnd.github.v3+json"
          --header "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          --body-file .github/settings/repo-settings.json
          https://api.github.com/repos/$GITHUB_REPOSITORY
      - name: set branch protection settings
        run: >
          find .github/settings/branch-protection -name *.json 
          | xargs -I {} bash -c 'wget
          -O-
          --method PUT
          --header "Accept: application/vnd.github.v3+json"
          --header "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          --body-file {}
          https://api.github.com/repos/$GITHUB_REPOSITORY/branches/$(basename -s .json {})/protection'
