name: enforce-settings

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/workflows/enforce-settings.yml
  schedule:
    - cron: "18 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: curlimages/curl
    steps:
      - name: set repo settings
        run: >
          curl
          --fail-with-body
          -X PATCH
          -H "Accept: application/vnd.github.v3+json"
          -H "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          https://api.github.com/repos/$GITHUB_REPOSITORY
          -d '{
            "allow_squash_merge":true,
            "allow_merge_commit":false,
            "allow_rebase_merge":false,
            "delete_branch_on_merge":true
          }'
      - name: set main branch settings
        run: >
          curl
          --fail-with-body
          -X PUT
          -H "Accept: application/vnd.github.v3+json"
          -H "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          https://api.github.com/repos/$GITHUB_REPOSITORY/branches/main/protection
          -d '{
            "required_status_checks":{
              "strict":true,
              "contexts":[]
            },
            "required_linear_history":true,
            "required_conversation_resolution":true,
            "enforce_admins":false,
            "required_pull_request_reviews":{
              "dismiss_stale_reviews":true,
              "require_code_owner_reviews":true,
              "required_approving_review_count":1
            },
            "restrictions":null
          }'
