name: enforce-settings

on:
  workflow_dispatch:
  push:
    # branches:
    #   - main
    paths:
      - .github/workflows/enforce-settings.yml
  schedule:
    - cron: "18 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    # container:
    #   image: curlimages/curl
    steps:
      - uses: actions/checkout@v2
      - name: set repo settings
        run: >
          wget
          -O-
          --method PATCH
          --header "Accept: application/vnd.github.v3+json"
          --header "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          --body-file .github/repo-settings.json
          https://api.github.com/repos/$GITHUB_REPOSITORY
      - name: set main branch settings
        run: >
          wget
          -O-
          --method PUT
          --header "Accept: application/vnd.github.v3+json"
          --header "Authorization: Bearer ${{ secrets.ENFORCE_SETTINGS_GITHUB_TOKEN }}"
          --body-file .github/branch-protection.json
          https://api.github.com/repos/$GITHUB_REPOSITORY/branches/main/protection
